/* ================== Reset ================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* ================== Section ================== */
body {
  background:linear-gradient(135deg, #3b4cb8 0%, #4a2c65 50%, #9c35a8 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form {
  max-width: 700px;
  background:transparent;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  text-align: center;
}

.h-form {
  font-size: 26px;
  margin-bottom: 10px;
  color:white;
}

.dash {
  width: 60px;
  height: 3px;
  background:#754FA7;
  margin: 10px auto 20px;
  border-radius: 5px;
}

.p-form {
  font-size: 16px;
  color: white;
  line-height: 1.5;
  margin-bottom: 25px;
  opacity:.8 ;
}

/* ================== Form ================== */
.container_form form {
  display: flex;
  flex-direction:column;
  gap: 20px;
  text-align: left;
}

label {
  font-size: 14px;
  color: white;
  opacity: 0.9;
}

::placeholder{
    color: #fff;
    opacity:0.5;
}

input {
  padding: 12px;
  background-color:transparent;
  border: 1px solid rgba(255, 255, 255, 0.47);
  color:white;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
  transition: 0.3s;
}

input:focus {
  border-color: #3e1043;
  box-shadow: 0 0 6px rgba(114, 28, 121, 0.3);
}

button {
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #843bb8;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

button:hover {
    background-color: rgb(168, 76, 255);

}

span{
    color:rgb(66, 15, 66);
}



























/* .form {
font-family: 'Segoe UI', sans-serif;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
margin: 0;
flex-direction: column;
} */
/* 

.container {
    max-width: 600px;
    width: 90%;
    background-size: cover;
    padding: 20px;
    border-radius: 10px;
}


label {
    font-weight: bold;
    width: 20px;
    margin-bottom: 5px;
}

input,textarea {
    border: 1px solid white;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    border-radius: 15px;
    font-size: 1.5rem;
    background-color: transparent;
    outline: none;
}
input:focus{
    border-color:rgb(5, 5, 59);
    box-shadow: #07104c;
}
textarea:focus{
    border-color:rgb(5, 5, 59);
}


input::placeholder,textarea::placeholder {
    font-size: medium;
    color: #ddd;
}
form button{
    color: white;
    background:linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    border: none;
    padding: 12px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.6 ease;
}

button:hover {
  box-shadow:#4a2c65;
  font-size: 1.5rem;
}
 */